/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  text-align: center;
  margin: 6rem 0;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.title {
  font-size: 100px;
  background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0.6));
  -webkit-background-clip: text;
  letter-spacing: -0.04em;
  color: transparent;
  font-weight: 700;
  line-height: 1;
}

.subtitle {
  font-size: 32px;
  color: hsla(0, 0%, 100%, 0.7);
  font-weight: 500;
  margin-bottom: 40px;
  line-height: 1.2;
}

@media (max-width: 991px) {
  .subtitle {
    margin-top: 26px;
    font-size: 24px;
  }
}

.ctaButton {
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  background: transparent;
  color: white;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  letter-spacing: 0.05em;
  box-shadow: 0 0 30px hsla(0, 0%, 100%, 0.08),
    inset 0 0 14px hsl(0deg 0% 0% / 70%);
  padding: 0.6em 1.2em;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: all 300ms ease;
  transition-property: color, background-color;
  min-width: 220px;
  display: inline-block;
  border-radius: 4px;
}

.ctaButton:hover {
  background: white;
  color: black;
  box-shadow: 0 0 30px hsla(0, 0%, 100%, 0.3);
}

.root {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}
