.blaze-pagination {
  display: flex;
  justify-content: center;
  gap: 14px;
}

/* button */
.blaze-pagination button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  color: transparent;
  outline: none;
  border: none;
  padding: 0;
  background: var(--bg-lighter);
  cursor: pointer;
  transition: transform 200ms ease, background 300ms ease;
}

/* button.active */
.blaze-pagination button.active {
  background-color: var(--ifm-color-primary);
  border-color: var(--ifm-color-primary);
  transform: scale(1.5);
}

/* button:hover */
@media (hover: hover) {
  .blaze-pagination button:hover {
    transform: scale(1.5);
  }
}

.blaze-slider.start .blaze-prev,
.blaze-slider.end .blaze-next {
  opacity: 0.1;
}

.blaze-slider.dragging .blaze-track {
  cursor: grabbing !important;
}

.blaze-slider {
  user-select: none;
}

.blaze-next,
.blaze-prev {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}
