.blaze-slider {
  /* default config */
  --slides-to-show: 1;
  --slide-gap: 20px;
  /* force ltr - slider does not work in rtl mode */
  direction: ltr;
}

.blaze-container {
  position: relative;
}

.blaze-track-container {
  overflow: hidden;
}

.blaze-track {
  will-change: transform;
  touch-action: pan-y;
  display: flex;
  gap: var(--slide-gap);
  --slide-width: calc(
    (100% - (var(--slides-to-show) - 1) * var(--slide-gap)) /
      var(--slides-to-show)
  );
}

.blaze-track,
.blaze-track > * {
  box-sizing: border-box;
}

.blaze-track > * {
  width: var(--slide-width);
  flex-shrink: 0;
}
