.blaze-slider {
  --dragged: 0;
  --slides-to-show: 1; /* default, final will be set by js */
  --offset: 0;
  --slide-gap: 20px;
  --total-gap: (var(--slides-to-show) - 1) * var(--slide-gap);
  --slide-width: calc((100% - var(--total-gap)) / var(--slides-to-show));
  --transition-duration: 200ms;
  --transition-timing-function: ease;
  direction: ltr;
}

.blaze-track > * {
  box-sizing: border-box;
}

.blaze-slider:not(.static) .blaze-track {
  cursor: grab;
}

.blaze-container {
  position: relative;
}

.blaze-track-container {
  overflow: hidden;
}

.blaze-track {
  touch-action: pan-y;
  display: flex;
  gap: var(--slide-gap);
  transform: translate3d(
    calc(
      var(--offset) * (var(--slide-gap) + var(--slide-width)) +
        calc(1px * var(--dragged))
    ),
    0px,
    0px
  );
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

/* disabling transition */
.blaze-slider.no-transition .blaze-track,
.blaze-slider.dragging .blaze-track {
  transition: none !important;
}

/* setting with on slides */
.blaze-track > * {
  width: var(--slide-width);
  flex-shrink: 0;
}

/* grab cursor when dragging */
.blaze-slider.dragging {
  user-select: none;
  cursor: grabbing;
}
