.blaze-slider,
.blaze-slider * {
	box-sizing: border-box;
}

.blaze-slider {
	--blaze-visible-gap: calc(var(--blaze-slide-gap) * (var(--blaze-slides-to-show) - 1));
	--blaze-slide-width: calc((100% - var(--blaze-visible-gap)) / var(--blaze-slides-to-show));
}

.blaze-container {
	overflow-x: hidden;
}

.blaze-track {
	touch-action: none;
	will-change: auto;
	display: flex;
	gap: var(--blaze-slide-gap);
	transition: transform var(--blaze-td, 400ms) var(--blaze-ttf, ease);
	transform: translateX(
		calc(
			(var(--blaze-slide-width) + var(--blaze-slide-gap)) * -1 * var(--blaze-offset) +
				var(--blaze-slide-amount, 0px)
		)
	);
}

.blaze-track > * {
	flex-shrink: 0;
	width: var(--blaze-slide-width);
}
