#app {
  font-family: 'Syne', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  max-width: 1200px;
  margin: 50px auto;
}

body {
  background: #eee;
}

.blaze-track > *,
.swiper-slide,
.my-slick-slide,
.glide__slide,
.carousel-cell,
.embla__slide,
.keen-slider__slide {
  height: 400px;
  background: white;
  font-size: 50px;
  display: flex !important;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15); */
  border: 4px solid #ddd;
  border-radius: 4px;
}

/* blaze-slider: add margin to prevent slide shadow being clipped */
.blaze-track {
  margin: 10px 0;
}

/* slick-slider set gap */
.slick-slide {
  margin: 0 10px;
}

/* flickity cell width */
.carousel-cell {
  flex-shrink: 0;
  display: inline-block;
  margin: 0 10px;
  width: calc((100% - 40px) / 3);
}

/* embla */
.embla {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.embla__container {
  display: flex;
  user-select: none;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__slide {
  margin-right: 20px;
  min-width: calc((100% - 40px) / 3);
}
