.example-slider .blaze-track > * {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: 2px solid var(--bg-lightest);
  border-radius: 6px;
  background: var(--bg-lighter);
  color: white;
}

.example-slider {
  margin-bottom: 30px;
}

.example-slider .blaze-track-container {
  position: relative;
}

.example-slider .blaze-prev,
.example-slider .blaze-next {
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-position: center;
  font-size: 0;
  z-index: 100;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='%2337e2d5' d='M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z'/%3E%3C/svg%3E");
}

.example-slider .my-structure {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.example-slider .blaze-next {
  transform: rotate(180deg);
}

.example-slider .blaze-pagination {
  gap: 14px;
}

.example-slider .blaze-pagination button {
  padding: 0;
  width: 12px;
  height: 12px;
}
