.layout-shift-slider .buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.layout-shift-slider .buttons-container button {
  background-color: var(--bg-lighter);
  padding: 10px 20px;
  border: 1px solid var(--bg-lightest);
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 200ms ease, color 200ms ease;
}

.layout-shift-slider {
  margin-top: 40px;
}

.layout-shift-slider.before-js button.before,
.layout-shift-slider.after-js button.after {
  background: var(--ifm-color-primary);
  color: var(--bg-darker);
}

.cls-fix .blaze-slider {
  --slides-to-show: 3;
}

@media (max-width: 500px) {
  .cls-fix .blaze-slider {
    --slides-to-show: 2;
  }
}
