.feature {
  background: linear-gradient(
    129deg,
    var(--bg-slight-lighter),
    var(--bg-slight-darker)
  );
  box-shadow: 8px 8px 30px var(--bg-darker);
  border-radius: 20px;
  height: 100%;
  padding: 30px;
  border: 4px solid var(--bg-lighter);
  position: relative;
}

.feature-container {
  padding: 30px 24px;
}

.feature p {
  margin: 20px auto;
  text-align: left;
  font-size: 18px !important;
}

.feature h3 {
  font-size: 40px;
  text-align: left;
  margin-bottom: 30px;
}

.feature svg {
  width: 60px;
  display: block;
  margin-bottom: 40px;
}

@media (max-width: 500px) {
  .feature h3 {
    font-size: 30px;
  }
}

@media (min-width: 991px) {
  .feature-section::before {
    content: '';
    display: block;
    height: 100%;
    background: linear-gradient(to right, transparent 10%, var(--bg));
    position: absolute;
    right: 0;
    width: 400px;
    z-index: 20;
    top: 0;
  }

  .feature-section {
    overflow: hidden;
    position: relative;
  }
  .blaze-track-container {
    overflow: visible !important;
  }
}

.wow {
  color: var(--ifm-color-primary);
  font-weight: bold;
}

/* prevent layout shift  */
.feature-section .blaze-slider {
  --slides-to-show: 3;
  --slide-gap: 0px;
}

@media (max-width: 991px) {
  .feature-section .blaze-slider {
    --slides-to-show: 2;
  }
}

@media (max-width: 500px) {
  .feature-section .blaze-slider {
    --slides-to-show: 1;
  }
}
