.feature {
  border: 1px solid hsla(0, 0%, 100%, 10%);
  box-shadow: 0 0 2px hsla(0, 0%, 100%, 15%);
  height: 100%;
  padding: 25px;
  position: relative;
  transition: border-color 300ms ease, box-shadow 400ms ease;
  border-radius: 4px;
  box-shadow: inset 0 0 14px hsl(0deg 0% 0% / 70%);
}

.feature:hover {
  border: 1px solid hsla(0, 0%, 100%, 25%);
  box-shadow: 0 0 20px hsla(0, 0%, 100%, 5%);
}

.feature-container {
  padding: 10px;
}

.feature p {
  margin: 20px auto;
  text-align: left;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 18px !important;
  letter-spacing: 0.03em;
}

.feature h3 {
  transition: color 300ms ease;
  font-size: 24px;
  line-height: 1.1;
  text-align: left;
  letter-spacing: -0.01em;
  margin-bottom: 15px;
}

@media (max-width: 500px) {
  .feature h3 {
    font-size: 30px;
  }
}

.feature-section .blaze-track {
  margin-bottom: 10px;
}

.feature-section .container {
  padding-top: 40px;
}

@media (min-width: 991px) {
  .feature-section {
    -webkit-mask-image: linear-gradient(to left, transparent, black 30%);
  }

  .feature-section {
    overflow: hidden;
    position: relative;
  }

  .feature-section .blaze-track-container {
    overflow: visible !important;
  }
}

@media (max-width: 991px) {
  .feature-section {
    margin-top: 50px;
  }
}

.aurora {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2400px;
  height: 2400px;
  z-index: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: opacity 500ms ease;
  background: radial-gradient(
    ellipse at 50% 50%,
    hsl(175deg 0% 45% / 15%) 0%,
    transparent 50%
  );
}
