/* prevent layout shift  */
.feature-section .blaze-slider {
  --slides-to-show: 3;
  --slide-gap: 0px;
}

@media (max-width: 1050px) {
  .feature-section .blaze-slider {
    --slides-to-show: 2;
  }
}

@media (max-width: 700px) {
  .feature-section .blaze-slider {
    --slides-to-show: 1;
  }
}

.feature-section .blaze-slider {
  margin-bottom: 50px;
}

.feature-section .bottom-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.feature-section .blaze-prev {
  transform: rotate(180deg);
}

.feature-section .blaze-prev,
.feature-section .blaze-next {
  transition: opacity 300ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-section .blaze-prev svg,
.feature-section .blaze-next svg {
  fill: var(--ifm-color-primary);
}
